# CMake stuff
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Pluto related files
libPluto.so
Plugins.h
Plugins.cc
PluginLinkDef.h
Compiled.h
G__Pluto*
DartConfiguration.tcl

# various autosave files
*.swp
*.autosave
*~

# QtCreator
CMakeLists.txt.user
pluto.cbp
