/libPluto.so
/libPluto.a
/Plugins.h
/Plugins.cc
/PluginLinkdef.h
/Compiled.h
/.depend
/lib
*.swp
*.autosave
*~


#qtcreator
Pluto.config
Pluto.creator
Pluto.files
Pluto.includes
pluto.config
pluto.creator
pluto.creator.user
pluto.files
pluto.includes
